In [1]:
# Ruta del archivos JSON
ruta_json1 = r'C:\Users\Lonso\Desktop\Examen\BD1.json'
ruta_json2 = r'C:\Users\Lonso\Desktop\Examen\BD2.json'

import pandas as pd

try:
    # Lectura de JSON
    df1 = pd.read_json(ruta_json1)
    df2 = pd.read_json(ruta_json2)

    # Unir DF
    df=pd.concat([df1, df2], axis=0)

    # Limpieza de datos
    df = df.drop_duplicates()
    df.dropna()

    df=df.drop(['isbn', 'autor_fecha_nacimiento'],axis=1)
    df = df.set_index('id')

    # Imprimir el DataFrame
    print("DataFrame normalizado:")
    print(df)

    # Almacenado
    df.to_excel('DataFrame.xlsx', index=False)

except Exception as e:
    print("Error en la ejecución:", e)

DataFrame normalizado:
                      titulo            autor_nombre autor_nacionalidad  \
id
1    El señor de los anillos          J.R.R. Tolkien         Inglaterra
2       Cien años de soledad  Gabriel García Márquez           Colombia
3                       1984           George Orwell        Reino Unido
6                  Moby Dick         Herman Melville     Estados Unidos
7        Orgullo y prejuicio             Jane Austen        Reino Unido
8             El gran Gatsby     F. Scott Fitzgerald     Estados Unidos
9   Don Quijote de la Mancha     Miguel de Cervantes             España
10         Matar un ruiseñor              Harper Lee     Estados Unidos
11          Crimen y castigo       Fyodor Dostoevsky              Rusia

            autor_genero         nombre_editorial ubicacion_editorial  precio  \
id
1               Fantasía                Minotauro              España   20.50
2        Realismo mágico                    Diana            Colombia   18.75
3        Ciencia ficción         Secker & Warburg         Reino Unido   15.99
6   Ficción de aventuras        Harper & Brothers      Estados Unidos   22.99
7       Novela romántica           Thomas Egerton         Reino Unido   17.50
8   Novela contemporánea  Charles Scribner's Sons      Estados Unidos   19.95
9       Novela picaresca      Francisco de Robles              España   16.00
10      Novela dramática   J. B. Lippincott & Co.      Estados Unidos   21.99
11    Novela psicológica    The Russian Messenger               Rusia   18.50

    Latitud_ed  Longitud_ed  cantidad_stock
id
1    41.389740     2.128907             100
2     4.656712   -74.054415              75
3    51.490037    -0.131669              50
6    42.350807   -71.073270              80
7    51.505135    -0.126134              90
8    40.757436   -73.977641              60
9    40.484462    -3.367712              70
10   39.946731   -75.150962              85
11   55.788301    37.618589              95

In [2]:
#Creación de tabla SQL
import sqlite3

#Inicializar conexion
conexion = sqlite3.connect('Base de Datos')
cursorBD= conexion.cursor()

#Validar tabla ya creada o crearla
def  tablacreada(tabla):
    cursorBD.execute('''SELECT COUNT(name) FROM SQLITE_MASTER WHERE TYPE ='table' AND name = '{}' '''.format(tabla))
    if cursorBD.fetchone()[0] == 1:
        return True
    else: 
        cursorBD.execute(''' CREATE TABLE LIBROS (id  INTEGER PRIMARY KEY AUTOINCREMENT,titulo TEXT,
                         autor_nombre  TEXT,  autor_nacionalidad  TEXT, autor_genero  TEXT,  
                         nombre_editorial TEXT, ubicacion_editorial  TEXT, precio  REAL, ed_longitud  REAL, 
                         ed_latitud  REAL, cantidad_stock  INTEGER) ''')
        return False
    
#Ejecutar función
tablacreada("LIBROS")

True

In [3]:
# Cargado del DataFrame en base de datos

from sqlalchemy import create_engine

engine=create_engine('sqlite://',echo=False)
df.to_sql('LIBROS',con=engine)

#Validar datos cargados en SQL
engine.execute('SELECT * FROM LIBROS').fetchall()

[(1, 'El señor de los anillos', 'J.R.R. Tolkien', 'Inglaterra', 'Fantasía', 'Minotauro', 'España', 20.5, 41.38974, 2.128907, 100),
 (2, 'Cien años de soledad', 'Gabriel García Márquez', 'Colombia', 'Realismo mágico', 'Diana', 'Colombia', 18.75, 4.656712, -74.054415, 75),
 (3, '1984', 'George Orwell', 'Reino Unido', 'Ciencia ficción', 'Secker & Warburg', 'Reino Unido', 15.99, 51.4900374, -0.13166899999999998, 50),
 (6, 'Moby Dick', 'Herman Melville', 'Estados Unidos', 'Ficción de aventuras', 'Harper & Brothers', 'Estados Unidos', 22.99, 42.350807, -71.07327, 80),
 (7, 'Orgullo y prejuicio', 'Jane Austen', 'Reino Unido', 'Novela romántica', 'Thomas Egerton', 'Reino Unido', 17.5, 51.505135, -0.126134, 90),
 (8, 'El gran Gatsby', 'F. Scott Fitzgerald', 'Estados Unidos', 'Novela contemporánea', "Charles Scribner's Sons", 'Estados Unidos', 19.95, 40.757436, -73.977641, 60),
 (9, 'Don Quijote de la Mancha', 'Miguel de Cervantes', 'España', 'Novela picaresca', 'Francisco de Robles', 'España', 16.0, 40.484462, -3.367712, 70),
 (10, 'Matar un ruiseñor', 'Harper Lee', 'Estados Unidos', 'Novela dramática', 'J. B. Lippincott & Co.', 'Estados Unidos', 21.99, 39.946731, -75.150962, 85),
 (11, 'Crimen y castigo', 'Fyodor Dostoevsky', 'Rusia', 'Novela psicológica', 'The Russian Messenger', 'Rusia', 18.5, 55.788301, 37.618589, 95)]